<header class="app-header navbar">
  <a class="navbar-brand" href="#"></a>
  <ul class="nav navbar-nav mr-auto d-md-down-none">
    <li class="nav-item">
      ORDER MANAGEMENT SYSTEM
    </li>
  </ul>
</header>

<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">
          <div class="card p-4">
            <div class="card-block">
              <oms-login-form
                (submitted)="onSubmit($event)"
                [pending]="pending$ | async"
                [errorMessage]="error$ | async"
              ></oms-login-form>
            </div>
          </div>
          <div class="card card-inverse card-primary py-5 d-md-down-none" style="width:44%">
            <div class="card-block text-center">
              <div>
                <h2>OMS</h2>
                <h5><sub>1.0.0</sub></h5>
                <p>
                  This application build on micro service architecture.
                </p>
                <p>[ <i>ORDER MANAGEMENT SYSTEM</i> ]</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="app-footer">
  <a href="http://developerbhuwan.com/">OMS</a> &copy; 2017 DeveloperBhuwan.
  <span class="float-right">Powered by <a href="http://developerbhuwan.com/">DeveloperBhuwan</a>
    </span>
</footer>
